{% include "Landingbase.html" %}
{% load static %}

{% block content %}

    <!-- ***** Awesome Features Start ***** -->
    <section class="awesome-feature-area  section_padding_0_50 p-80 clearfix" id="features" style="margin-top: 3%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-heading">
                        <h1 class="text-header text-uppercase mb-0">Services</h1>
                        <hr class="line-style mx-auto d-block">
                        <p class="mt-3"> Lorem Ipsum is simply dummy text of the printing and typesetting industry <br>
                            It is a long established fact that a reader will be distracted.</p>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4 mt-4">
                    <div class="single-feature">
                        <h5>Lorem Ipsum</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4 mt-4">
                    <div class="single-feature">
                        <h5>Lorem Ipsum</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4 mt-4">
                    <div class="single-feature">
                        <h5>Lorem Ipsum</h5>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Awesome Features End ***** -->


    <!-- ***** Footer Area Start ***** -->
    <footer class="text-center p-50 clearfix bg-grey" style="background-color: #32cafe">
        <!-- Foooter Text-->
        <div class="copyright-text">
            <p>Graphic Designer</p>
        </div>
    </footer>
{% endblock %}