{% include "Landingbase.html" %}
{% load static %}

{% block content %}

    <!-- ***** Awesome Features Start ***** -->
    <section class="awesome-feature-area  section_padding_0_50 p-80 clearfix" id="features" style="margin-top: 3%">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-heading">
                        <h1 class="text-header text-uppercase mb-0">Services</h1>
                        <hr class="line-style mx-auto d-block">
                        <h3 class="mt-3"> Freelance platform for designers</h3>
                    </div>
                </div>
            </div>

            <div class="row text-center">
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4 mt-4">
                    <div class="single-feature">
                        <h5>Who we are?</h5>
                        <p>This project is specially designed as an indicator of your knowledge and work for the Сode Institute. I hope you enjoy using the service and you will be satisfied. I also want to note that this project was developed with particular interest, since I am the owner of a small business, and this area has become very interesting for me.</p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4 mt-4">
                    <div class="single-feature">
                        <h5>Why we?</h5>
                        <p>This project shows my development skills. And after the review from code isntitute i will continue developing thos project until it will be done perfectly.
                        </p>
                    </div>
                </div>
                <!-- Single Feature Start -->
                <div class="col-12 col-sm-6 col-lg-4 mt-4">
                    <div class="single-feature">
                        <h5>Benefits</h5>
                        <p>Free to use. <br/> You will get awesome experience <br/> Professional Designers</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Awesome Features End ***** -->
    <!-- ***** Portfolio ***** -->
    <section class="p-80" id="applications" style="margin-top: 5%; margin-bottom: 5%">
        <div class="special_description_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-heading">
                            <h1 class="text-header text-uppercase mb-0">Portfolio</h1>
                            <hr class="line-style mx-auto d-block">
                        </div>
                    </div>
                    {% for portfolio in portfolio %}
                        <div class="col-lg-4 col-md-6 col-12 mt-4 text-center image-hover wow fadeInDown">
                            <span class="ti-comments h2"></span>
                            <p class="mb-3">{{ portfolio.title }}</p>
                            <a target="_blank"><img width="396px" height="236px" class="border-grey" src="
                        {{ portfolio.image.url }}" alt="Apps Image"></a>
                            <div class="btn-group mt-2" role="group" aria-label="Basic example">
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>




    <!-- ***** Footer Area Start ***** -->
    {% include 'footer.html' %}

{% endblock %}